/* Body  */

body{
    
    text-align:center;
    font-family:"Arial,Helvetica,sans-serif";

}

/* Navbar background-color */

.Navbackground {
    background-color: #071D49;
    
}

.navbar_image {
    padding-left:50%;
    margin-top: -5%;
    margin-bottom: -5%;
}

.btns_buttons {
     padding-left: 68%; 
     padding-bottom: 2%;
    /* padding-left: 80%; */
    
}

.edulution_portal {
    padding-top:6%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-left: 24%;
}

/* Main index background */
/* .mainBackground {
    background:-webkit-linear-gradient(#D3E8BF,#60713E);
    background:-o-linear-gradient(#D3E8BF,#60713E);
    background:-moz-linear-gradient(#D3E8BF,#60713E);
    background:linear-gradient(#D3E8BF,#60713E) fixed;
} */


.mainBackground {
    background:-webkit-linear-gradient(#fff);
    background:-o-linear-gradient(#fff);
    background:-moz-linear-gradient(#fff);
    background:linear-gradient(#fff) fixed;
}



/* Image Align */
img {
    align:left;
}


/* Headers H3 Color */
.h3_color{
    color: #fff;
}

.mainBody {
    text-align:center;
    color: #071D49;
    font-weight: bold;
}

/* Clear */
.clear {
    padding-top:10px;
}

/* Clear */
.clearfooter {
    padding-top: 60px;
}


/* Curved Accordion */
.panel-heading {
     border-top-radius:5px;
     border-bottom-radius:5px;
  
}

/* PRE ALPHA HEADING */
#prealpha-heading {
    background-color: #F4D19C;
    border: #F4D19C;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}


/* ALPHA HEADING */
#alpha-heading {
    background-color: #CCFFCC;
    border: #CCFFCC;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* BRAVO */
#bravo-heading {
    background-color: #C5D9F1;
    border: #C5D9F1;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* CHARLIE */
#charlie{
    background-color:#FDE9D9;
    border:#FDE9D9;
    box-shadow:2px 2px 2px 2px #3F3F3F
}


/* Added Green Buttons */
.btn-button {
    /* background-color: #3D8D54; */
    background-color: #071D49;
   
}

#index-of-topics-btn{
  
    box-shadow: 2px 2px 2px 2px #3F3F3F;
    
    border: #071D49;
}


img .images {
    text-align: right;
}

/* Icons for each lesson */
.icons{
    margin-right:500px;
}

/* Align Panel header */
.panel-headers {
    text-align: justify;
    /* text-align:inherit; */
    margin-top: -30px;
}

.gr7_test_panel a:hover{
    text-decoration: none
}


/*kolibri logo image btn on landing page*/
.kolibri_logo_btn{
    /* width: 352px; */
    width:312px;
    height:285px;
}

.numeracy_assessments_btn{
    width: 250px;
    height:250px;
}

/*background for image buttons on landing page*/
.icon_background {
        
    width: 352px;
    height:322px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 6px 6px 2.5px grey;
    padding-bottom: 10px;
}


/*remove text decoration on text inside img button*/
.img_btn_container a{
    text-decoration: none;
}

.texts {
    font-size: 25px;
    font-weight: bold;
    color: #071D49;
}

.img_btns_row{
    margin-bottom: 3%;
}

h2 {
    font-weight: bold;
}

.button_spacing{
    padding-bottom: 10px; 
}



/* @media screen and (max-width: 1024px)  */
@media screen and (max-width: 1024px) and (min-width: 911px)
{

    .image_space{
        margin-right:20%;
    }

    .icon_background {
        
        width: 352px;
        height:322px;
        background: whitesmoke;
        border-radius: 20px;
        box-shadow: 6px 6px 2.5px grey;
        padding-bottom: 10px;
    }

    .kolibri_logo_btn{
        /* width: 325px; */
        /* height:285px; */
        width: 80%;
        height:80%;
       
    }

    .numeracy_assessments_btn{
        /* width: 250px;
        height:250px; */

        width: 80%;
        height:80%;
    }

  
    
.button_spacing{
    padding-bottom: 10px; 
}

.edulution_portal {
    padding-top:5%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-left: 24%;
}


ul.slides {
    display: block;
    position: relative;
    height: 450px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
  
  }
  



ul.slides {
    display: block;
    position: relative;
    height: 450px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-dashboard {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    /* color: #fff; */
    color:#071D49
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-dashboard:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

input:checked + .slide-container .slide-dashboard {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}